body {
	text-align: center;
	background-color: #9BD19D;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#pomodoroWrapper {
	margin: auto;
	background-color: #2D3339;
	display: inline-block;
	border: 10px solid #708792;
	width: 500px;
	border-radius: 5%;
}


.controls {
	display: inline-block;
	padding: 5px;
}
#breakLength{
	width: 453px;
	height: 400px;
}
#controlsGap{display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}
button{
	font-size: 22px;
	text-decoration: none;
	padding: 5px 15px;
	border: 2px solid #F6F7F7;
	background-color: #2D3339;
	color: #F6F7F7;
	border-radius: 5%;
}
span {
	font-size: 22px;	
	margin: 5px 5px;
}
#timeBox {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}
#timeBox span {
	font-size: 100px;
}
#timeBox p {
	font-size: 20px;
}
#controlButton{
	margin-bottom: 20px;
}